{{ 'list-filter.css' | asset_url | stylesheet_tag }}

<div class="list-filter">
  <div class="available-filters-desktop">
    <form id="CollectionFiltersForm">
      {% for filter in collection.filters %}
        <div class="filter-box">
          {% if filter.type == 'price_range' %}
            <details>
              <summary aria-label="{{ filter.label | escape }}">Price</summary>
              <div class="filter-underlist price-range" role="region" aria-label="{{ filter.label | escape }}">
                <div class="price-range-slider">
                  <p class="range-value">
                    <input type="text" id="amount" readonly>
                  </p>
                  <div id="slider-range" class="range-bar"></div>
                </div>
              </div>
            </details>
            <button class="filter-chevron-down" style="border: none;" type="button" aria-label="Expand price filter">
              <img src="{{ 'chevron-down.svg' | asset_url }}" height="auto" width="12" alt="Expand">
            </button>
            {% if filter.min_value.value or filter.max_value.value %}
              <button class="clearFilter" type="button" aria-label="Clear price filter">
                Clear <img src="{{ 'icon-cross.svg' | asset_url }}" height="12" width="12" alt="Clear">
              </button>
            {% endif %}
          {% else %}
            <details>
              <summary aria-label="{{ filter.label }}">{{ filter.label }}</summary>
              <ul class="filter-underlist" role="listbox" aria-label="{{ filter.label }}">
                {% for value in filter.values %}
                  <li class="filter">
                    <input
                      type="checkbox"
                      name="{{ filter.param_name }}"
                      value="{{ value.value }}"
                      id="{{ filter.param_name }}-{{ forloop.index }}"
                      hidden
                      {% if value.active %}
                        checked
                      {% endif %}
                    >
                    {% if value.active %}
                      <img src="{{ 'icon-check.svg' | asset_url }}" height="auto" width="15">
                    {% endif %}
                    <label for="{{ filter.param_name }}-{{ forloop.index }}">{{ value.label }}</label>
                  </li>
                {% endfor %}
              </ul>
            </details>
            <button class="filter-chevron-down" style="border: none;" type="button" aria-label="Expand filter">
              <img src="{{ 'chevron-down.svg' | asset_url }}" height="auto" width="12" alt="Expand">
            </button>
            {% if filter.active_values.size > 0 %}
              <button class="clearFilter" type="button" aria-label="Clear {{ filter.label | escape }} filter">
                Clear <img src="{{ 'icon-cross.svg' | asset_url }}" height="12" width="12" alt="Clear">
              </button>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </form>
  </div>

  <div class="available-filters-mobile">
    <button class="filter-sidebar-trigger">
      <img src="{{ 'icon-filter.svg' | asset_url }}" height="auto" width="18">
    </button>
  </div>
  <div class="sort-filter">
    <form id="CollectionSortForm">
      <details>
        <summary class="summary-bar" aria-label="Sort products">
          <span style="white-space: nowrap;">
            {%- if collection.products_count < 1 %} {{ collection.products_count }} item {% endif %}
            {{ collection.products_count }} items
          </span>
          Sort
          <button class="filter-chevron-down" style="border: none;" type="button" aria-label="Expand sort options">
            <img src="{{ 'chevron-down.svg' | asset_url }}" height="auto" width="12" alt="Expand">
          </button>
        </summary>
        <ul class="sort" role="listbox" aria-label="Sort options">
          <li>
            <label>
              <input
                type="radio"
                name="sort_by"
                value="manual"
                hidden
                {% if collection.sort_by == 'manual' %}
                  checked
                {% endif %}
              >
              {% if collection.sort_by == 'manual' %}
                <img src="{{ 'icon-check.svg' | asset_url }}" height="auto" width="15">
              {% endif %}
              Featured</label
            >
          </li>
          <li>
            <label>
              <input
                type="radio"
                name="sort_by"
                value="best-selling"
                hidden
                {% if collection.sort_by == 'best-selling' %}
                  checked
                {% endif %}
              >
              {% if collection.sort_by == 'best-selling' %}
                <img src="{{ 'icon-check.svg' | asset_url }}" height="auto" width="15">
              {% endif %}
              Best Selling</label
            >
          </li>
          <li>
            <label>
              <input
                type="radio"
                name="sort_by"
                value="title-ascending"
                hidden
                {% if collection.sort_by == 'title-ascending' %}
                  checked
                {% endif %}
              >
              {% if collection.sort_by == 'title-ascending' %}
                <img src="{{ 'icon-check.svg' | asset_url }}" height="auto" width="15">
              {% endif %}
              Alphabetically, A-Z</label
            >
          </li>
          <li>
            <label>
              <input
                type="radio"
                name="sort_by"
                value="title-descending"
                hidden
                {% if collection.sort_by == 'title-descending' %}
                  checked
                {% endif %}
              >
              {% if collection.sort_by == 'title-descending' %}
                <img src="{{ 'icon-check.svg' | asset_url }}" height="auto" width="15">
              {% endif %}
              Alphabetically, Z-A</label
            >
          </li>
          <li>
            <label>
              <input
                type="radio"
                name="sort_by"
                value="price-ascending"
                hidden
                {% if collection.sort_by == 'price-ascending' %}
                  checked
                {% endif %}
              >
              {% if collection.sort_by == 'price-ascending' %}
                <img src="{{ 'icon-check.svg' | asset_url }}" height="auto" width="15">
              {% endif %}
              Price, low to high</label
            >
          </li>
          <li>
            <label>
              <input
                type="radio"
                name="sort_by"
                value="price-descending"
                hidden
                {% if collection.sort_by == 'price-descending' %}
                  checked
                {% endif %}
              >
              {% if collection.sort_by == 'price-descending' %}
                <img src="{{ 'icon-check.svg' | asset_url }}" height="auto" width="15">
              {% endif %}
              Price, high to low</label
            >
          </li>
          <li>
            <label>
              <input
                type="radio"
                name="sort_by"
                value="created-ascending"
                hidden
                {% if collection.sort_by == 'created-ascending' %}
                  checked
                {% endif %}
              >
              {% if collection.sort_by == 'created-ascending' %}
                <img src="{{ 'icon-check.svg' | asset_url }}" height="auto" width="15">
              {% endif %}
              Date, old to new</label
            >
          </li>
          <li>
            <label>
              <input
                type="radio"
                name="sort_by"
                value="created-descending"
                hidden
                {% if collection.sort_by == 'created-descending' %}
                  checked
                {% endif %}
              >
              {% if collection.sort_by == 'created-descending' %}
                <img src="{{ 'icon-check.svg' | asset_url }}" height="auto" width="15">
              {% endif %}
              Date, new to old</label
            >
          </li>
        </ul>
      </details>
    </form>
  </div>
</div>
{% render 'list-filter-mobile' %}
<script src="{{ 'list-filter.js' | asset_url }}" defer></script>
