{{ 'list-filter.css' | asset_url | stylesheet_tag }}

<div class="list-filter">
  <div class="available-filters">
    <form id="CollectionFiltersForm">
      {% for filter in collection.filters %}
        <div class="filter-box">
          <details>
            <summary aria-label="{{ filter.label }}">{{ filter.label }}</summary>
            <ul class="filter-underlist" role="listbox" aria-label="{{ filter.label }}">
              {% for value in filter.values %}
                <li class="filter">
                  <input
                    type="checkbox"
                    name="{{ filter.param_name }}"
                    value="{{ value.value }}"
                    id="{{ filter.param_name }}-{{ forloop.index }}"
                    {% if value.active %}
                      checked
                    {% endif %}
                  >
                  <label for="{{ filter.param_name }}-{{ forloop.index }}">{{ value.label }}</label>
                </li>
              {% endfor %}
            </ul>
          </details>
          <button class="filter-chevron-down" style="border: none;" type="button" aria-label="Expand filter">
            <img src="{{ 'chevron-down.svg' | asset_url }}" height="auto" width="12" alt="Expand">
          </button>
          {% if filter.active_values.size > 0 %}
            <button class="clearFilter">
              Clear <img src="{{ 'icon-cross.svg' | asset_url }}" height="12" width="12" alt="Clear">
            </button>
          {% endif %}
        </div>
      {% endfor %}
    </form>
  </div>

  <div class="sort-filter">
    <form id="CollectionSortForm">
      <details>
        <summary class="summary-bar" aria-label="Sort products">
          <span style="white-space: nowrap;">
            {%- if collection.products_count < 1 %} {{ collection.products_count }} item {% endif %}
            {{ collection.products_count }} items
          </span>
          Sort
          <button class="filter-chevron-down" style="border: none;" type="button" aria-label="Expand sort options">
            <img src="{{ 'chevron-down.svg' | asset_url }}" height="auto" width="12" alt="Expand">
          </button>
        </summary>
        <ul class="sort" role="listbox" aria-label="Sort options">
          <li>
            <label
              ><input
                type="radio"
                name="sort_by"
                value="manual"
                {% if collection.sort_by == 'manual' %}
                  checked
                {% endif %}
              >
              Featured</label
            >
          </li>
          <li>
            <label
              ><input
                type="radio"
                name="sort_by"
                value="best-selling"
                {% if collection.sort_by == 'best-selling' %}
                  checked
                {% endif %}
              >
              Best Selling</label
            >
          </li>
          <li>
            <label
              ><input
                type="radio"
                name="sort_by"
                value="title-ascending"
                {% if collection.sort_by == 'title-ascending' %}
                  checked
                {% endif %}
              >
              Alphabetically, A-Z</label
            >
          </li>
          <li>
            <label
              ><input
                type="radio"
                name="sort_by"
                value="title-descending"
                {% if collection.sort_by == 'title-descending' %}
                  checked
                {% endif %}
              >
              Alphabetically, Z-A</label
            >
          </li>
          <li>
            <label
              ><input
                type="radio"
                name="sort_by"
                value="price-ascending"
                {% if collection.sort_by == 'price-ascending' %}
                  checked
                {% endif %}
              >
              Price, low to high</label
            >
          </li>
          <li>
            <label
              ><input
                type="radio"
                name="sort_by"
                value="price-descending"
                {% if collection.sort_by == 'price-descending' %}
                  checked
                {% endif %}
              >
              Price, high to low</label
            >
          </li>
          <li>
            <label
              ><input
                type="radio"
                name="sort_by"
                value="created-ascending"
                {% if collection.sort_by == 'created-ascending' %}
                  checked
                {% endif %}
              >
              Date, old to new</label
            >
          </li>
          <li>
            <label
              ><input
                type="radio"
                name="sort_by"
                value="created-descending"
                {% if collection.sort_by == 'created-descending' %}
                  checked
                {% endif %}
              >
              Date, new to old</label
            >
          </li>
        </ul>
      </details>
    </form>
  </div>
</div>

<script src="{{ 'list-filter.js' | asset_url }}" defer></script>
