<style>
  .vertical-swiper {
    width: 100%;
    height: 100%;
  }
  .image_slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide {
    transition: transform 0.3s ease-out;
    position: relative;
  }
.slider-content {
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
</style>

<div class="vertical-swiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% if block.type == 'slide' %}
        <div class="swiper-slide">
          {% if block.settings.slide_image != blank %}
            <img class="image_slide" src="{{ block.settings.slide_image | image_url }}" height="" width="">
          {% else %}
            {{ 'hero-apparel-2' | placeholder_svg_tag: 'image_slide' }}
            <div class="slider-content">
  {% if block.settings.slider_title %}
    <h1 class="slider-title">{{ block.settings.slider_title }}</h1>
  {% endif %}
  {% if block.settings.slider_tagline %}
    <p class="slider-tagline">{{ block.settings.slider_tagline }}</p>
  {% endif %}
</div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script src="{{ 'vertical-swiper.js' | asset_url }}" defer="defer"></script>
