{{ 'header.css' | asset_url | stylesheet_tag }}
<div class="theme_header {% if request.page_type == 'index' %} fixed-header {% endif %} ">
  <div class="header_left">
    <div class="header_menu">
      <a
        role="button"
        class="menu_btn"
        id="menu_btn"
      >
        <img
          src="{{ 'icon-menu.svg' | asset_url }}"
          width="26"
          height="36"
        >
      </a>
      {% render 'menu-sidebar' %}
    </div>
    <div class="header_logo">
      <a href="{{ routes.root_url }}">
        {% if settings.logo != blank %}
          <img
            src="{{ settings.logo | image_url }}"
            height=""
            width="{{ settings.logo_width }}"
          >
        {% else %}
          <h5>{{ shop.name }}</h5>
        {% endif %}
      </a>
    </div>
  </div>
  <div class="header_right">
    <div class="header_actions">
      <a role="button" id="search-trigger-btn" aria-controls="main-search">
        <img
          src="{{ 'icon-search.svg' | asset_url }}"
          width="18"
          height="28"
        >
      </a>
      <a href="{{ routes.account_login_url }}">
        <img
          src="{{ 'icon-user.svg' | asset_url }}"
          width="18"
          height="28"
        >
      </a>
      <a role="button" class="cart-header_btn">
        {% if cart.item_count > 0 %}
          {% if cart.item_count > 99 %}
            <span class="cart_item-count">99+</span>
          {% else %}
            <span class="cart_item-count">{{ cart.item_count }}</span>
          {% endif %}
        {% endif %}
        <img
          src="{{ 'icon-bag.svg' | asset_url }}"
          width="18"
          height="28"
        >
      </a>
    </div>
  </div>
  {% render 'cart-drawer' %}
</div>

<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Header",
  "tag": "header",
  "settings": [
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Select avigation Menu"
    },
    {
      "type": "checkbox",
      "label": "Show Collections",
      "id": "show_collection",
      "default": true
    },
    {
      "type": "collection",
      "id": "collection_1",
      "label": "Collection"
    },
    {
      "type": "collection",
      "id": "collection_2",
      "label": "Collection"
    },
    {
      "type": "collection",
      "id": "collection_3",
      "label": "Collection"
    },
    {
      "type": "richtext",
      "id": "sale_end",
      "label": "Offer/Sale",
      "default": "<p>End Of Season Sale Upto 50% Off</p>"
    }
  ],
  "presets": [
    {
      "name": "header",
      "settings": {
        "menu": "main-menu"
      }
    }
  ]
}
{% endschema %}
